###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

* linguist-vendored
NewDiscordBridge/ConfigFile.cs linguist-vendored=false
NewDiscordBridge/Discord.cs linguist-vendored=false
NewDiscordBridge/Utils.cs linguist-vendored=false
